dd {
    display: inline-block;
}
dd.info {
    display: none;
}
dd.error {
    margin-left: 10px;
    font-size: 12px;
    color: #c00;
}
dl {
    background: #FAFAFA;
    padding: 0px;
    margin: 5px;
}
dl.error {
    background: #FBDDE6;
}
dt {
    display: inline-block;
    width: 160px;
}
label {
    font-size: 14px;
}
.buttons {
    background: #536565;
    padding: 10px;
    margin-top: 30px;
}

.buttons input, .buttons a {
    border: 1px solid #2F3A3A;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

ul {
    padding-left: 20px;
}

