@(hostName: String)

<!DOCTYPE html>
<html>
    @head("DB "+hostName, "database_table")
    <script>
        var lastEntity = -1;
        $(document).ready(function() {
            $("#browseDb").hide();
            $("#show").click(loadDbEntities);
            $("#dbEntities").jqGrid({
                datatype: 'local',
                rowNum:-1,
                scrollOffset: 0,
                colNames:['Name', 'Type', 'Comment'],
                colModel:[
                    {name:'name',index:'name', width:230},
                    {name:'dbtype',index:'dbtype', width:60},
                    {name:'comment',index:'comment', width:300}
                ],
                caption: "DB Entities",
                onSelectRow: function(id){
                    if(id && id!==lastEntity){
                        $(this).restoreRow(lastEntity);
                        lastEntity=id;
                        var dbtype = $(this).getRowData(lastEntity)['dbtype'];
                        var name = $(this).getRowData(lastEntity)['name'];
                        showEntity(name, dbtype);
                    }
                }
            });
            $("#entity_name").keypress(function(e) {
                if (e.which == 13) {
                    loadDbEntities();
                }
            });
        });
        function loadDbEntities(){
            var dbtype = $("#select_type").val();
            var name = $("#entity_name").val().trim();
            if(name.length==0){
                jsRoutes.controllers.Application.dbTypes('@hostName', dbtype).ajax({
                    success: reloadDbEntities,
                    error: showDbError
                });
            } else if(dbtype!='all' && name.indexOf("*")==-1){
                $("#tdEntities").hide();
                showEntity(name, dbtype);
            } else {
                jsRoutes.controllers.Application.dbEntities('@hostName', dbtype, name.replace(/\*/g, '%')).ajax({
                    success: reloadDbEntities,
                    error: showDbError
                });
            }
        }
        function showEntity(name, dbtype){
            $("#browseDb").show();
            $("#entityDetail").html("<div class=loading>Loading ...</div>");
            jsRoutes.controllers.Application.dbEntity('@hostName', dbtype, name).ajax({
                success: function(data) {
                    $("#entityDetail").html(data);
                },
                error: showDbError
            });
        }
        function reloadDbEntities(gridData){
            lastEntity = -1;
            $("#entityDetail").empty();
            $(".ui-jqgrid-bdiv").height(
                $(window).height() - $('header').height() - $('#select').height()-100
            );
            gridData.push({}); // workaround jqGrid doesn't show last line
            reloadGrid("#dbEntities", gridData);
            $("#browseDb").show();
            $("#tdEntities").show();
        }
        function showDbError(errorData){
            showError("#entityDetail", errorData);
        }
    </script>
    <body>
        <header>DB @hostName</header>

        <section>
            <div id="select" style="padding: 2px">
                    Type: &nbsp;&nbsp;<select id="select_type" style="width:130px">
                        <option value="table">Table</option>
                        <option value="function">Function</option>
                        <option value="service">Service</option>
                        <option value="schema">Schema</option>
                        <option value="all">All</option>
                    </select><br>
                    Mask: <input type="text" id="entity_name" value="ecm.card_*" style="width:150px">
                    <button id="show">Show</button>
            </div>
            <div id="browseDb">
                <table>
                    <tr>
                        <td class="info" id="tdEntities">
                            <div>
                                <table id="dbEntities"></table>
                                @*<button id="reloadDb">Reload</button>*@
                            </div>
                        </td>
                        <td class="info">
                            <div id="entityDetail"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </body>
</html>